In [1]:
import pandas as pd
df = pd.read_csv("Bengaluru_House_Data.csv")

In [2]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
df.shape

(13320, 9)

In [4]:
df.area_type.value_counts()

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [5]:
df.drop(['area_type','availability','society'],axis=1,inplace = True)

In [6]:
df.head()

                   location       size total_sqft  bath  balcony   price
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00

In [7]:
df.isnull().sum()

location        1
size           16
total_sqft      0
bath           73
balcony       609
price           0
dtype: int64

In [8]:
df1 = df.dropna()
df1.head()

                   location       size total_sqft  bath  balcony   price
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00

In [9]:
df1.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [10]:
df = df1

In [11]:
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 BHK', '1 RK',
       '4 BHK', '1 Bedroom', '2 Bedroom', '6 Bedroom', '8 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '11 Bedroom', '43 Bedroom',
       '14 BHK', '8 BHK', '12 Bedroom', '10 Bedroom', '13 BHK'],
      dtype=object)

In [12]:
df['BHK'] = df['size'].apply(lambda x: int(x.split(' ')[0]))
df.head()

                   location       size total_sqft  bath  balcony   price  BHK
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00    2

In [13]:
df.drop('size',axis = 1,inplace=True)
df.head()

                   location total_sqft  bath  balcony   price  BHK
0  Electronic City Phase II       1056   2.0      1.0   39.07    2
1          Chikka Tirupathi       2600   5.0      3.0  120.00    4
2               Uttarahalli       1440   2.0      3.0   62.00    3
3        Lingadheeranahalli       1521   3.0      1.0   95.00    3
4                  Kothanur       1200   2.0      1.0   51.00    2

In [14]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [15]:
def isfloat(x):
    try:
        float(x)
    except:
        return False
    return True

In [16]:
df[df['total_sqft'].apply(isfloat)]

                       location total_sqft  bath  balcony   price  BHK
0      Electronic City Phase II       1056   2.0      1.0   39.07    2
1              Chikka Tirupathi       2600   5.0      3.0  120.00    4
2                   Uttarahalli       1440   2.0      3.0   62.00    3
3            Lingadheeranahalli       1521   3.0      1.0   95.00    3
4                      Kothanur       1200   2.0      1.0   51.00    2
...                         ...        ...   ...      ...     ...  ...
13314         Green Glen Layout       1715   3.0      3.0  112.00    3
13315                Whitefield       3453   4.0      0.0  231.00    5
13317     Raja Rajeshwari Nagar       1141   2.0      1.0   60.00    2
13318           Padmanabhanagar       4689   4.0      1.0  488.00    4
13319              Doddathoguru        550   1.0      1.0   17.00    1

[12524 rows x 6 columns]

In [17]:
df[~df['total_sqft'].apply(isfloat)]

                 location   total_sqft  bath  balcony    price  BHK
30              Yelahanka  2100 - 2850   4.0      0.0  186.000    4
122                Hebbal  3067 - 8156   4.0      0.0  477.000    4
137    8th Phase JP Nagar  1042 - 1105   2.0      0.0   54.005    2
165              Sarjapur  1145 - 1340   2.0      0.0   43.490    2
188              KR Puram  1015 - 1540   2.0      0.0   56.800    2
...                   ...          ...   ...      ...      ...  ...
12975          Whitefield   850 - 1060   2.0      0.0   38.190    2
12990      Talaghattapura  1804 - 2273   3.0      0.0  122.000    3
13059              Harlur  1200 - 1470   2.0      0.0   72.760    2
13265               Hoodi  1133 - 1384   2.0      0.0   59.135    2
13299          Whitefield  2830 - 2882   5.0      0.0  154.500    4

[186 rows x 6 columns]

In [18]:
df = df[df['total_sqft'].apply(isfloat)]

In [19]:
df.shape

(12524, 6)

In [20]:
df = df.drop('balcony',axis=1)

### Feature Engineering

In [21]:
df.head()

                   location total_sqft  bath   price  BHK
0  Electronic City Phase II       1056   2.0   39.07    2
1          Chikka Tirupathi       2600   5.0  120.00    4
2               Uttarahalli       1440   2.0   62.00    3
3        Lingadheeranahalli       1521   3.0   95.00    3
4                  Kothanur       1200   2.0   51.00    2

In [22]:
df['total_sqft'] = df['total_sqft'].apply(lambda x:float(x))

In [23]:
df.head()

                   location  total_sqft  bath   price  BHK
0  Electronic City Phase II      1056.0   2.0   39.07    2
1          Chikka Tirupathi      2600.0   5.0  120.00    4
2               Uttarahalli      1440.0   2.0   62.00    3
3        Lingadheeranahalli      1521.0   3.0   95.00    3
4                  Kothanur      1200.0   2.0   51.00    2

In [24]:
df['Price_Per_sqft'] = df['price']*100000/df['total_sqft']

In [25]:
df

                       location  total_sqft  bath   price  BHK  Price_Per_sqft
0      Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
1              Chikka Tirupathi      2600.0   5.0  120.00    4     4615.384615
2                   Uttarahalli      1440.0   2.0   62.00    3     4305.555556
3            Lingadheeranahalli      1521.0   3.0   95.00    3     6245.890861
4                      Kothanur      1200.0   2.0   51.00    2     4250.000000
...                         ...         ...   ...     ...  ...             ...
13314         Green Glen Layout      1715.0   3.0  112.00    3     6530.612245
13315                Whitefield      3453.0   4.0  231.00    5     6689.834926
13317     Raja Rajeshwari Nagar      1141.0   2.0   60.00    2     5258.545136
13318           Padmanabhanagar      4689.0   4.0  488.00    4    10407.336319
13319              Doddathoguru       550.0   1.0   17.00    1     3090.909091

[12524 rows x 6 columns]

In [26]:
len(df.location.unique())

1259

In [27]:
loc_stat = df['location'].value_counts()
dict(loc_stat)

{'Whitefield': 498,
 'Sarjapur  Road': 366,
 'Electronic City': 300,
 'Kanakpura Road': 255,
 'Thanisandra': 220,
 'Yelahanka': 199,
 'Uttarahalli': 185,
 'Hebbal': 169,
 'Raja Rajeshwari Nagar': 168,
 'Marathahalli': 164,
 '7th Phase JP Nagar': 146,
 'Hennur Road': 140,
 'Bannerghatta Road': 138,
 'Haralur Road': 135,
 'Electronic City Phase II': 128,
 'Rajaji Nagar': 98,
 'Chandapura': 96,
 'Bellandur': 91,
 'Electronics City Phase 1': 85,
 'Hoodi': 82,
 'KR Puram': 81,
 'Begur Road': 81,
 'Kasavanhalli': 77,
 'Sarjapur': 75,
 'Yeshwanthpur': 75,
 'Harlur': 74,
 'Banashankari': 74,
 'Ramamurthy Nagar': 71,
 'Kengeri': 70,
 'Koramangala': 69,
 'Varthur': 68,
 'Hormavu': 68,
 'Hosa Road': 67,
 'Old Madras Road': 65,
 'Jakkur': 65,
 'Nagarbhavi': 62,
 'Kaggadasapura': 61,
 'JP Nagar': 61,
 'TC Palaya': 60,
 'Thigalarapalya': 60,
 'Kothanur': 59,
 'Akshaya Nagar': 58,
 '8th Phase JP Nagar': 54,
 'Rachenahalli': 53,
 'Malleshwaram': 52,
 'Bisuvanahalli': 51,
 'Hennur': 50,
 'Panathur': 50,
 'Budigere': 50,
 'Jalahalli': 49,
 'HSR Layout': 49,
 'Ramagondanahalli': 48,
 'Gottigere': 48,
 'Bhoganhalli': 48,
 'Hegde Nagar': 47,
 'Jigani': 47,
 'Hulimavu': 47,
 'Kundalahalli': 46,
 'Mysore Road': 46,
 'Hosur Road': 45,
 'Brookefield': 43,
 'Balagere': 43,
 'CV Raman Nagar': 42,
 'Subramanyapura': 42,
 'Vittasandra': 42,
 'Kanakapura': 41,
 'Horamavu Agara': 41,
 'Vijayanagar': 41,
 'Vidyaranyapura': 40,
 'Yelahanka New Town': 40,
 'Indira Nagar': 40,
 'Attibele': 40,
 'Kadugodi': 39,
 'Channasandra': 38,
 'Kengeri Satellite Town': 38,
 'Talaghattapura': 38,
 '5th Phase JP Nagar': 37,
 '9th Phase JP Nagar': 37,
 'Green Glen Layout': 37,
 'Kudlu Gate': 37,
 'Lakshminarayana Pura': 35,
 'Bommasandra': 35,
 'Anekal': 35,
 'Devanahalli': 34,
 'Hosakerehalli': 34,
 'Kalena Agrahara': 33,
 'Sahakara Nagar': 33,
 'Ambedkar Nagar': 31,
 'Bommanahalli': 31,
 'R.T. Nagar': 30,
 'Frazer Town': 30,
 'Doddathoguru': 30,
 'Chikkalasandra': 30,
 'Ananth Nagar': 30,
 'Tumkur Road': 29,
 'Mahadevpura': 29,
 'Kumaraswami Layout': 29,
 'Basavangudi': 29,
 'Kudlu': 29,
 'Kammasandra': 28,
 'Dodda Nekkundi': 28,
 'Hebbal Kempapura': 28,
 'BTM 2nd Stage': 28,
 'Horamavu Banaswadi': 28,
 'Padmanabhanagar': 27,
 'Anandapura': 27,
 'Kodichikkanahalli': 27,
 'Bommasandra Industrial Area': 26,
 'Kothannur': 26,
 'Margondanahalli': 26,
 'Banashankari Stage III': 26,
 'Old Airport Road': 26,
 'Choodasandra': 26,
 'Seegehalli': 25,
 'Babusapalaya': 25,
 'Ambalipura': 25,
 'Gubbalala': 25,
 'Kogilu': 25,
 'Singasandra': 24,
 'Iblur Village': 24,
 'Amruthahalli': 24,
 'Battarahalli': 24,
 'Somasundara Palya': 24,
 'Kambipura': 24,
 'Abbigere': 24,
 'Munnekollal': 23,
 'Lingadheeranahalli': 23,
 '2nd Stage Nagarbhavi': 23,
 'Magadi Road': 22,
 'Kathriguppe': 22,
 'EPIP Zone': 22,
 'Kaval Byrasandra': 22,
 'Sonnenahalli': 21,
 'Basaveshwara Nagar': 21,
 '1st Phase JP Nagar': 21,
 'Gunjur': 21,
 'Domlur': 21,
 'Rayasandra': 21,
 'Binny Pete': 20,
 'Yelachenahalli': 20,
 'Ulsoor': 20,
 'Thubarahalli': 20,
 'Ardendale': 19,
 'Kalyan nagar': 19,
 'Hoskote': 19,
 'Poorna Pragna Layout': 19,
 'Sanjay nagar': 19,
 'HBR Layout': 19,
 'HRBR Layout': 19,
 'OMBR Layout': 19,
 'Kaggalipura': 19,
 '6th Phase JP Nagar': 18,
 'Pai Layout': 18,
 'Kannamangala': 18,
 'Bannerghatta': 17,
 'Nagavara': 17,
 'Billekahalli': 17,
 'Garudachar Palya': 17,
 'Dasarahalli': 17,
 'Kammanahalli': 17,
 'Malleshpalya': 17,
 'Parappana Agrahara': 16,
 'Begur': 16,
 'BTM Layout': 16,
 'Kereguddadahalli': 16,
 'Sarjapura - Attibele Road': 16,
 'Dasanapura': 16,
 'Anjanapura': 16,
 'Kaikondrahalli': 16,
 'Banashankari Stage II': 16,
 'Kenchenahalli': 15,
 'Nagavarapalya': 15,
 'Mallasandra': 15,
 'Banaswadi': 15,
 'Kasturi Nagar': 15,
 'Arekere': 15,
 'Giri Nagar': 14,
 ' Devarachikkanahalli': 14,
 'Sarakki Nagar': 14,
 'Sultan Palaya': 14,
 'Chikka Tirupathi': 14,
 'Kodihalli': 14,
 'NRI Layout': 14,
 'Banashankari Stage VI': 14,
 'Chamrajpet': 14,
 'NGR Layout': 14,
 'Sector 7 HSR Layout': 13,
 'Cunningham Road': 13,
 'Varthur Road': 13,
 'Dommasandra': 13,
 'Sector 2 HSR Layout': 13,
 'Murugeshpalya': 13,
 'Rajiv Nagar': 13,
 'Shampura': 13,
 'Jalahalli East': 13,
 'Shivaji Nagar': 13,
 'Judicial Layout': 13,
 'Konanakunte': 13,
 'Chikkabanavar': 13,
 'Mahalakshmi Layout': 13,
 'Kodigehaali': 13,
 'Laggere': 12,
 'GM Palaya': 12,
 'Kadubeesanahalli': 12,
 'Vasanthapura': 12,
 'Neeladri Nagar': 12,
 'Vishwapriya Layout': 12,
 'Badavala Nagar': 12,
 'Bharathi Nagar': 12,
 'Cox Town': 12,
 'BEML Layout': 12,
 'AECS Layout': 12,
 'Benson Town': 12,
 '1st Block Jayanagar': 12,
 'Cooke Town': 12,
 'Yelenahalli': 12,
 'Gollarapalya Hosahalli': 12,
 'Banashankari Stage V': 12,
 'Doddakallasandra': 12,
 'Sompura': 12,
 'LB Shastri Nagar': 11,
 'Nagasandra': 11,
 'Banjara Layout': 11,
 'Prithvi Layout': 11,
 'ISRO Layout': 11,
 '2nd Phase Judicial Layout': 11,
 'Marsur': 11,
 'Vishveshwarya Layout': 11,
 'Karuna Nagar': 11,
 'Mico Layout': 11,
 'Bommenahalli': 11,
 'Narayanapura': 11,
 'Tindlu': 11,
 'Pattandur Agrahara': 11,
 'Gunjur Palya': 10,
 'Dairy Circle': 10,
 '1st Block Koramangala': 10,
 'HAL 2nd Stage': 10,
 'Kodigehalli': 10,
 'Doddaballapur': 10,
 'ITPL': 10,
 'Naganathapura': 10,
 'Ganga Nagar': 10,
 'Kalkere': 10,
 'Basapura': 10,
 'Nagappa Reddy Layout': 10,
 'Thyagaraja Nagar': 10,
 'Nagadevanahalli': 9,
 'B Narayanapura': 9,
 'Ejipura': 9,
 '5th Block Hbr Layout': 9,
 '2nd Phase JP Nagar': 9,
 'Nehru Nagar': 9,
 'Chennammana Kere': 9,
 'Kamakshipalya': 9,
 'Dodsworth Layout': 9,
 'Peenya': 9,
 'Banagiri Nagar': 9,
 'Gollahalli': 9,
 'Kaverappa Layout': 9,
 'KUDLU MAIN ROAD': 9,
 'Lingarajapuram': 9,
 'Chandra Layout': 9,
 'Vignana Nagar': 9,
 'Hoysalanagar': 8,
 'Nallurhalli': 8,
 'Thirumenahalli': 8,
 'Hongasandra': 8,
 'Roopena Agrahara': 8,
 'Sector 1 HSR Layout': 8,
 'Kanaka Nagar': 8,
 'Cambridge Layout': 8,
 'Shikaripalya': 8,
 'Sadashiva Nagar': 8,
 'Mahalakshmi Puram': 8,
 'Jalahalli West': 8,
 'Vajarahalli': 8,
 'Sarjapur Road, ': 8,
 'Jakkur Plantation': 8,
 'BTM 1st Stage': 8,
 'Sidedahalli': 8,
 'Akshaya Vana': 8,
 'Huskur': 8,
 'Seetharampalya': 8,
 'Akshayanagara East': 8,
 'Reliaable Tranquil Layout': 8,
 'Outer Ring Road East': 8,
 'Vishwanatha Nagenahalli': 8,
 'Nelamangala': 8,
 'Vasanth nagar': 8,
 'Kodbisanhalli': 8,
 'MS Pallya': 8,
 'Volagerekallahalli': 8,
 'Hoodi Circle, ': 7,
 'Ittamadu': 7,
 'Austin Town': 7,
 'Dodda Nekkundi Extension': 7,
 'Gopalkrishna Nagar': 7,
 'Green View Layout': 7,
 'HOSUR MAIN ROAD': 7,
 'Victoria Layout': 7,
 'Dollars Colony': 7,
 '3rd Block Hrbr Layout': 7,
 'Sathya Sai Layout': 7,
 'Hennur Gardens': 7,
 'AGS Layout': 7,
 'Basaveshwara Nagar Yelahanka': 7,
 'Doctors Layout': 7,
 'Madiwala': 7,
 'Channasandra Layout': 7,
 'Vijaya Bank Layout': 7,
 'Cholanayakanahalli': 7,
 'Basavanapura': 7,
 '8th block Koramangala': 7,
 'Mathikere': 7,
 'Jayanagar': 7,
 'Canara Bank Colony': 7,
 'Ambedkar Colony': 7,
 'Keshava Nagar': 7,
 'Tejaswini Nagar': 7,
 'Manayata Tech Park': 7,
 'Jeevan bima nagar': 7,
 'Byrasandra': 7,
 'Byrathi Village': 6,
 'Bhuvaneshwari Nagar': 6,
 'Richmond Town': 6,
 'Doddanakundi Industrial Area 2': 6,
 'Yemlur': 6,
 'Doddabommasandra': 6,
 'RMV 2nd Stage': 6,
 'Byatarayanapura': 6,
 'Singapura Village': 6,
 'Hessarghatta': 6,
 ' Devarabeesana Halli': 6,
 'Maragondanahalli': 6,
 'Varanasi': 6,
 'Kacharakanahalli': 6,
 'Maruthi Sevanagar': 6,
 'Devasthanagalu': 6,
 'Samethanahalli': 6,
 'Ashwathnagar': 6,
 'Rajiv Gandhi Nagar': 6,
 'Suraksha Nagar': 6,
 '4th T block Jayanagar': 6,
 'Anand Nagar': 6,
 'Meenakunte': 6,
 'ITI Layout': 6,
 'Doddakammanahalli': 6,
 'Amblipura': 6,
 'Bagalakunte': 6,
 'Rustam Bagh Layout': 6,
 'Siddapura': 6,
 '4th Block Koramangala': 6,
 'Gopalapura': 6,
 'Doddanekundi': 6,
 'Richards Town': 6,
 'New Thippasandra': 6,
 'Nayandanahalli': 6,
 'Shantiniketan Layout': 6,
 'Wilson Garden': 6,
 '1st Block HRBR Layout': 6,
 'Bank Of Baroda Colony': 6,
 'Shanti Nagar': 6,
 'Motappa Layout': 6,
 'Medahalli': 6,
 'Venkatapura': 6,
 'Kundalahalli Colony': 6,
 'Shree Ananth Nagar Layout': 6,
 'Abbaiah Reddy Layout': 6,
 'Cottonpet': 5,
 'Srirampura': 5,
 'Ashwath Nagar': 5,
 'Srinivasa Nagar': 5,
 'Kurubarahalli': 5,
 'Akshya Nagar': 5,
 'Hosahalli Extension': 5,
 'Ashirvad Colony': 5,
 'Doddabanahalli': 5,
 '7th Block Jayanagar': 5,
 'Belathur': 5,
 'Kallumantapa': 5,
 'Chelekare': 5,
 'Nagondanahalli': 5,
 'Vishwapriya Nagar': 5,
 'Nagawara Junction': 5,
 'Jakkasandra Extension': 5,
 'Mallathahalli': 5,
 'Devi Nagar': 5,
 'Doddakannelli': 5,
 'Silk Board': 5,
 '2nd Block Hrbr Layout': 5,
 '1st Stage Indira Nagar': 5,
 'Maithri Layout': 5,
 'Nagaraja Garden': 5,
 'A Narayanapura': 5,
 'Byagadadhenahalli': 5,
 'Ramakrishnappa Layout': 5,
 'Coconut Grove Layout': 5,
 'Kada Agrahara': 5,
 'Nagashetty Halli': 5,
 'Jakkuru Layout': 5,
 'Amruthnagar': 5,
 'Kadabagere': 5,
 'Avalahalli': 5,
 'Hiremath Layout': 5,
 'Srirampuram': 5,
 'Kattigenahalli': 5,
 '6th block Koramangala': 5,
 'Doopanahalli': 5,
 'Bellari Road': 5,
 'Dodda Banaswadi': 5,
 'Bagalur': 5,
 'KR Garden': 5,
 'Virat Nagar': 5,
 'Pattanagere': 5,
 'Hennur Bande': 5,
 'Raghuvanahalli': 5,
 'Sunkadakatte': 5,
 'VGP Layout': 5,
 'Ramanjaneyanagar': 5,
 'Vasantha Vallabha Nagar': 5,
 '3rd Block Banashankari': 5,
 'Off Sarjapur Road, ': 5,
 '9th Block Jayanagar': 5,
 'RMV Extension': 5,
 'Laxmi Sagar Layout': 4,
 'Thanisandra main road': 4,
 '4th Phase JP Nagar': 4,
 'Ramamurthy Nagar Extension': 4,
 'Chennappa Layout': 4,
 'Vinayaka Nagar': 4,
 'BSM Extension': 4,
 'BEL Road': 4,
 'JCR Layout': 4,
 'Attur Layout': 4,
 'Suddaguntepalya': 4,
 'Herohalli': 4,
 'Judicial Layout, Kanakapura Road, ': 4,
 'Kumarapalli': 4,
 'Doddagubbi': 4,
 'AMS Layout': 4,
 'Hanumanth Nagar': 4,
 'Glass Factory Layout': 4,
 'New Gurappana Palya': 4,
 'Jnanabharathi Layout': 4,
 'Udaya Nagar': 4,
 'Moodalapalya': 4,
 'Govindpura': 4,
 'Puttanahalli': 4,
 'Harsha Layout': 4,
 'Defence Colony': 4,
 'Lavakusha Nagar': 4,
 'Tala Cauvery Layout': 4,
 'Lavelle Road': 4,
 'Brooke Bond First Cross': 4,
 'Bileshivale': 4,
 'Shankarapuram': 4,
 'Chikkasandra': 4,
 'tc.palya': 4,
 'Vaishnavi Layout': 4,
 'Geddalahalli': 4,
 'Silver Springs Layout': 4,
 'Immadihalli': 4,
 'Lake City': 4,
 'Chinnapanahalli': 4,
 'Divya Unnathi Layout': 4,
 'Byadarahalli': 4,
 'Bikasipura': 4,
 'Kumara Park': 4,
 'Nyanappana Halli': 4,
 'Kamala Nagar': 4,
 'Chikkathoguru': 4,
 'Basavanagara': 4,
 'Poornapragna Housing Society Layout': 4,
 'Konanakunte Cross': 4,
 'Kodathi': 4,
 'Dooravani Nagar': 4,
 'Basavanna Nagar': 4,
 '4th Block Jayanagar': 4,
 'Udayapur Village': 4,
 'Tavarekere': 4,
 'BCC Layout': 4,
 'Raja Rajeshwari Nagar 5th Stage': 4,
 'Stage-4 Bommanahalli': 4,
 'Chikkadunnasandra': 4,
 '8th Block Jayanagar': 4,
 'Ngef Layout': 4,
 'Upkar Layout': 4,
 'Shanthala Nagar': 4,
 'Munivenkatppa Layout': 4,
 'Maruthi Nagar': 4,
 'Kadugondanahalli': 4,
 'Sai Gardens': 4,
 'Tata Nagar': 4,
 'Manjunath Nagar': 4,
 ' Mysore Highway': 4,
 'Varsova Layout': 4,
 'Kammagondahalli': 4,
 'Dasappa Layout': 3,
 'Devanahalli Int. Airport': 3,
 'Kashi Nagar': 3,
 'Hegganahalli': 3,
 'Ramesh Nagar': 3,
 'Kavika Layout': 3,
 'Agrahara Dasarahalli': 3,
 'Langford Town': 3,
 'Daadys Gaarden Layout': 3,
 'Bethel Nagar': 3,
 'Manorayana Palya': 3,
 'Makali': 3,
 'KSRTC Layout': 3,
 'Mangammanapalya': 3,
 'Brindavan Nagar': 3,
 'Kodipalya': 3,
 'Thanisandra Main Road, ': 3,
 'Basava Nagar': 3,
 'SMV layout': 3,
 'Govindapura': 3,
 '3rd Block Jayanagar': 3,
 'Tunganagara': 3,
 'Himagiri Meadows': 3,
 'Ashwini layout': 3,
 'MCECHS  layout': 3,
 '2nd Stage Arekere Mico Layout': 3,
 'Hosapalya': 3,
 'Venugopal Reddy Layout': 3,
 'HMT Layout': 3,
 'Gattahalli': 3,
 'Alfa Garden Layout': 3,
 'Jnana Ganga Nagar': 3,
 ' Thanisandra': 3,
 'Tirumanahalli': 3,
 'Dollars Layout': 3,
 'Kamakya Layout': 3,
 'Sathya Layout': 3,
 'B Channasandra': 3,
 'Baba Nagar': 3,
 'Nandini Layout': 3,
 'Marasandra': 3,
 'D Group Employees Layout': 3,
 'BTM 4th Stage': 3,
 'VHBCS Layout': 3,
 'Kumbena Agrahara': 3,
 'RPC layout': 3,
 'Coffee Board Layout': 3,
 'Atmananda Colony': 3,
 'Tasker Town': 3,
 'Lakshmipura': 3,
 'Telecom Layout': 3,
 'Hanumantha Nagar': 3,
 'Sarvabhouma Nagar': 3,
 'RWF West Colony': 3,
 'Ullal Road': 3,
 'Surabhi Layout': 3,
 'Lakshmi Layout': 3,
 'Crimson Layout': 3,
 'Gulimangala': 3,
 'Singena Agrahara': 3,
 '1st Block HBR Layout': 3,
 'Gowdanapalya': 3,
 'Alur': 3,
 'BHEL Layout': 3,
 'Ilyas Nagar': 3,
 'P&T Layout': 3,
 'T.C PALYA': 3,
 'Nobo Nagar': 3,
 'Mylasandra': 3,
 'Sri Balaji Krupa Layout': 3,
 'Vittal Nagar': 3,
 'Kaveri Nagar': 3,
 'Palace Guttahalli': 3,
 'Thippasandra': 3,
 'Arehalli': 3,
 'Pragathi Nagar': 3,
 '3rd Phase JP Nagar': 3,
 'Jayanti Nagar': 3,
 'Carmelaram': 3,
 'Srinagar': 3,
 'Mathikere Extension': 3,
 'Vadarpalya': 3,
 'Bidadi': 3,
 'Singanayakanahalli': 3,
 'Prashanth Nagar': 3,
 'Canara Bank Layout': 3,
 'Kuvempu Nagar': 3,
 'Konena Agrahara': 3,
 'Gkvk Layout': 3,
 'Bagalur Main Road': 3,
 'Jinkethimmanahalli': 3,
 'Kachanayakanahalli': 3,
 'Ullal Uppanagar': 3,
 'Hagadur': 3,
 'Weavers Colony': 3,
 'Raghavendra Nagar': 3,
 'Venkatadri Layout': 3,
 'Virupakshapura': 3,
 'Thurahalli': 3,
 'Anjappa Layout': 3,
 'Shettigere': 3,
 'NS Palya': 3,
 'KR Layout': 3,
 'Kengeri Hobli': 3,
 'Devarachikkanahalli': 3,
 'Domlur Layout': 3,
 'Sector 6 HSR Layout': 3,
 '5th Block Jayanagar': 3,
 'Ankappa Layout': 3,
 'Seshadripuram': 3,
 'RMV': 3,
 'Kithaganur': 3,
 'Pampa Extension': 3,
 'Ayappa Nagar': 3,
 'Adityanagar': 3,
 'Bhuvaneswari Nagar': 3,
 'Kirloskar Layout': 3,
 'T Dasarahalli': 3,
 'Vimanapura': 3,
 'J C Nagar': 3,
 'Chikka Banaswadi': 3,
 'Vinayak Nagar': 3,
 '2nd Block Jayanagar': 3,
 'Sampangi Rama Nagar': 3,
 'Esther Enclave Layout': 3,
 'Bhagyalakshmi Avenue': 3,
 'Belatur': 3,
 'Narayana Nagar 1st Block': 3,
 'Gokula Extension': 3,
 'Devara Jeevanahalli': 3,
 'Kenchenhalli': 3,
 'OLd Gurappanapalya': 3,
 'Jayamahal': 3,
 'Hoodi Layout': 2,
 'Uday Nagar': 2,
 'Garebhavipalya': 2,
 'Naidu Layout': 2,
 'Near International Airport': 2,
 'Sneha Colony': 2,
 'Panduranga Nagar': 2,
 'Hunasamaranahalli': 2,
 'Brindavan Layout': 2,
 'Patelappa Layout': 2,
 'Kariyammana Agrahara': 2,
 'Krishna Nagar': 2,
 'Upadhyaya Layout': 2,
 'Rajankunte': 2,
 'Cleveland Town': 2,
 ' south': 2,
 'Kathreguppe': 2,
 'Someshwara Layout': 2,
 'Lottegolla Halli': 2,
 'Raghavendra Layout': 2,
 '3rd Block Koramangala': 2,
 'Bhoopsandra': 2,
 'Vibuthipura': 2,
 "St. John's Road": 2,
 'Bendiganahalli': 2,
 'Anand nagar': 2,
 'RR Layout': 2,
 'BCMC Layout': 2,
 ' Electronic City': 2,
 'Muneshwara Nagar': 2,
 'Varthur Road, ': 2,
 'Suragajakkanahalli': 2,
 'Hadosiddapura': 2,
 'Annapurneshwari Nagar': 2,
 'Subash Nagar': 2,
 'Pulkeshi Nagar': 2,
 'Gattigere': 2,
 '5th Stage BEML Layout': 2,
 'Ganesha Block': 2,
 'Harappanahalli': 2,
 'Sri Venkateshpura Layout': 2,
 'Chokkanahalli': 2,
 'Anjana Nagar': 2,
 'Anugrah Layout': 2,
 'Church Street': 2,
 'Green Woods Layout': 2,
 'Yarandahalli': 2,
 'Vyalikaval': 2,
 'Devanahalli Road': 2,
 'Ramanashree Enclave': 2,
 'Nanjappa Layout': 2,
 'Hennagara': 2,
 'Rajarajeshwari nagar': 2,
 'JP Nagar 7th Phase, ': 2,
 'Indra Nagar': 2,
 'Palace Road': 2,
 'Dr Shivarama Karantha Nagar': 2,
 'RMV Extension Stage 2': 2,
 'Kempegowda Nagar': 2,
 'Amarjyothi Colony': 2,
 'Hosakerehalli Layout': 2,
 'Gnana Bharathi': 2,
 'Mariyannapalya': 2,
 'Rajasree Layout': 2,
 'Nandi Hills': 2,
 'Shingapura': 2,
 'Soundarya Layout': 2,
 'Akshayanagara West': 2,
 'Devasandra Extension': 2,
 'frazertown': 2,
 'KEB Colony': 2,
 'HAL 3rd Stage': 2,
 'Marenahalli': 2,
 'Doddabidrakallu': 2,
 'Dodda Kempaiah Layout': 2,
 'Annaiah Reddy Layout': 2,
 'Lal Bahadur Shastri Nagar': 2,
 'Kullappa Colony': 2,
 'SRINIVASAPURA': 2,
 'Friends Colony': 2,
 'Tigalarpalya': 2,
 'Rajarajeshwari Nagara': 2,
 'Green Garden Layout': 2,
 'Syndicate Bank Colony': 2,
 'Veer Sandra': 2,
 'Kempapura': 2,
 'Srinivas Colony': 2,
 'Nanjappa Garden': 2,
 'Phase 1 Kammasandra': 2,
 'Chamundi Nagar': 2,
 'Aishwarya Crystal Layout': 2,
 'Veersandra': 2,
 'Gidada Konnenahalli': 2,
 'Celebrity Paradise Layout': 2,
 'Kothnoor Dinne': 2,
 'Classic Paradise Layout': 2,
 'Geleyara Balaga Layout': 2,
 'cooketown': 2,
 '1st Block BEL Layout': 2,
 'Ramchandrapuram': 2,
 'Guddadahalli': 2,
 'Omkar Nagar': 2,
 'Jai Bheema Nagar': 2,
 'Lakshmiamma Garden': 2,
 'Madavara': 2,
 'Electronic city Phase 1, ': 2,
 'Sunder Ram Shetty Nagar': 2,
 'Chikku Lakshmaiah Layout': 2,
 'Anantapura': 2,
 'manyata park': 2,
 'Chikkakannalli': 2,
 'ECC Road, Whitefield, ': 2,
 'Vasanthpura': 2,
 'Amam Enclave Layout': 2,
 'Sadanand Nagar': 2,
 'Vibhutipura Extension': 2,
 'Dollar Scheme Colony': 2,
 'MLA Layout': 2,
 'Yeshwanthpur Industrial Suburb': 2,
 'Dwarka Nagar': 2,
 'Bidrahalli': 2,
 'Ferrar Nagar': 2,
 'Teachers Colony': 2,
 'Challaghatta': 2,
 'Versova Layout': 2,
 'Postal Colony': 2,
 'Remco Bhel Layout': 2,
 'Sampigehalli': 2,
 'Sadaramangala': 2,
 'Krishna Reddy Layout': 2,
 'Mahaganapathy Nagar': 2,
 'Kyalasanahalli': 2,
 'Manjunatha Layout': 2,
 'Ashok Nagar': 2,
 'Palanahalli': 2,
 'Langford Gardens': 2,
 'Coconut Garden': 2,
 'Neelamangala': 2,
 'CQAL Layout': 2,
 'Janatha Colony': 2,
 'Sanne Amanikere': 2,
 'Vijinapura': 2,
 'Vivek Nagar': 2,
 '2nd Block Bel Layout': 2,
 'Nandi Durga Road': 2,
 'Govindaraja Nagar Ward': 2,
 'Dena Bank Colony': 2,
 'Shetty Halli': 2,
 'Chennammanakere Achukattu': 2,
 'Green Domain Layout': 2,
 'Veerannapalya': 2,
 'Andrahalli': 2,
 'Kothnur Narayanapura': 2,
 'GD Layout': 2,
 'Muthurayya Swamy Layout': 2,
 'Whitefield, ': 2,
 'Balaji Gardens Layout': 2,
 'Jaya Mahal layout': 2,
 'Jyothi Nagar': 2,
 'Shanthi Layout': 2,
 'Geetanjali Layout': 1,
 'Halanayakanahalli': 1,
 '1A Block Koramangala': 1,
 'Mango Garden Layout': 1,
 'Gangondanahalli': 1,
 'Vaderahalli': 1,
 'Lakkasandra Extension': 1,
 'Williams Town': 1,
 'Binnamangala': 1,
 'Anathanagar': 1,
 'kadubisnahalli': 1,
 'Rammana Layout': 1,
 'AECS LAYOUT A-BLOCK Singasandra': 1,
 'West of Chord Road': 1,
 'JP nagar 9th Phase, ': 1,
 'Bahubali Nagar': 1,
 'Rajarajesheari nagar': 1,
 'Banashankari 6th Stage ,Subramanyapura': 1,
 'Kanakapura Road, ': 1,
 'Binny Mills Employees Colony': 1,
 'Venkateshpuram': 1,
 '1st Stage Domlur': 1,
 'Hoskote near': 1,
 'Lakshmipura Vidyaanyapura': 1,
 'Veerabhadra Nagar': 1,
 'Tippenahalli': 1,
 'kamanahalli main road': 1,
 'GKW Layout': 1,
 'SHANTHINAGAR': 1,
 'Kengeri Satellite Town Stage II': 1,
 'Shanthi Pura': 1,
 'ravindra nagar, T.dasarahalli peenya': 1,
 'Sundar Ram Shetty Nagar': 1,
 'Shauhardha Layout': 1,
 'Dwaraka Nagar': 1,
 'Byappanahalli': 1,
 'Abshot Layout': 1,
 'Indiranagar HAL 2nd Stage': 1,
 'JP Nagar 8th Phase, ': 1,
 'Chikka Gowdanapalya.': 1,
 'Kanakapura  Rod': 1,
 'St Thomas Town': 1,
 'Okalipura': 1,
 'Handenahalli': 1,
 'Havanur extension': 1,
 'beml layout, basaveshwara nagar': 1,
 'Kudlu Village, ': 1,
 'Nagarbhavi Garden Villas Layout': 1,
 'BDS Layout': 1,
 '1 Giri Nagar': 1,
 'Navodaya Nagar': 1,
 'P&T Colony': 1,
 '1Hoysalanagar': 1,
 'kanakapura road': 1,
 'Sunkan palya': 1,
 'Sonam Layout': 1,
 'Gayathri Nagar': 1,
 'Maruthi Extension': 1,
 'Maruthi HBCS Layout': 1,
 '4th Block HBR Layout': 1,
 'Ganga Nagar Extension': 1,
 'Dinnur': 1,
 'Yelahanka,MVIT college': 1,
 'Rest House Road': 1,
 'Banashankari 2nd Stage': 1,
 'Bharathnagar': 1,
 'Doddabele': 1,
 'BAGUR': 1,
 'manyata': 1,
 'Sundara Nagar': 1,
 'Bettadasanapura': 1,
 'Hal old airport road': 1,
 'Milk Colony': 1,
 'Annasandrapalya': 1,
 'Jaraganahalli Jp Nagar Post': 1,
 'Chuchangatta Colony': 1,
 'Craig Park Layout': 1,
 'Kanakadasa Layout': 1,
 'T C Palya main Road': 1,
 'Banashankari3rd stage bigbazar': 1,
 'Chowdeshwari Layout': 1,
 'Xavier Layout': 1,
 'Aavalahalli': 1,
 'Balepet': 1,
 'Prasanna layout Herohalli': 1,
 'Mailasandra': 1,
 '2nd Block Hbr Layout': 1,
 'Medaralli': 1,
 'JakkurYelahanka': 1,
 'Billapura': 1,
 'Vijayabank bank layout': 1,
 'Infantry Road': 1,
 'Deepanjali Nagar': 1,
 'Subramanyanagar': 1,

In [28]:
len(loc_stat[loc_stat] <= 10)

1259

In [29]:
loc_stat_less_10 = loc_stat[loc_stat <= 10]
loc_stat_less_10

Gunjur Palya                          10
Dairy Circle                          10
1st Block Koramangala                 10
HAL 2nd Stage                         10
Kodigehalli                           10
                                      ..
Achins Road                            1
Bhattarahalli                          1
Basvasamithi Layout Vidyaranyapura     1
Suryanagar                             1
Banashankari 6th Stage                 1
Name: location, Length: 1025, dtype: int64

In [30]:
df.location = df.location.apply(lambda x:'other' if x in loc_stat_less_10 else x)

In [31]:
df

                       location  total_sqft  bath   price  BHK  Price_Per_sqft
0      Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
1              Chikka Tirupathi      2600.0   5.0  120.00    4     4615.384615
2                   Uttarahalli      1440.0   2.0   62.00    3     4305.555556
3            Lingadheeranahalli      1521.0   3.0   95.00    3     6245.890861
4                      Kothanur      1200.0   2.0   51.00    2     4250.000000
...                         ...         ...   ...     ...  ...             ...
13314         Green Glen Layout      1715.0   3.0  112.00    3     6530.612245
13315                Whitefield      3453.0   4.0  231.00    5     6689.834926
13317     Raja Rajeshwari Nagar      1141.0   2.0   60.00    2     5258.545136
13318           Padmanabhanagar      4689.0   4.0  488.00    4    10407.336319
13319              Doddathoguru       550.0   1.0   17.00    1     3090.909091

[12524 rows x 6 columns]

In [32]:
df = df[~(df.total_sqft/df.BHK < 300)]

In [33]:
df

                       location  total_sqft  bath   price  BHK  Price_Per_sqft
0      Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
1              Chikka Tirupathi      2600.0   5.0  120.00    4     4615.384615
2                   Uttarahalli      1440.0   2.0   62.00    3     4305.555556
3            Lingadheeranahalli      1521.0   3.0   95.00    3     6245.890861
4                      Kothanur      1200.0   2.0   51.00    2     4250.000000
...                         ...         ...   ...     ...  ...             ...
13314         Green Glen Layout      1715.0   3.0  112.00    3     6530.612245
13315                Whitefield      3453.0   4.0  231.00    5     6689.834926
13317     Raja Rajeshwari Nagar      1141.0   2.0   60.00    2     5258.545136
13318           Padmanabhanagar      4689.0   4.0  488.00    4    10407.336319
13319              Doddathoguru       550.0   1.0   17.00    1     3090.909091

[11869 rows x 6 columns]

In [34]:
df.Price_Per_sqft.describe()

count     11869.000000
mean       6220.296579
std        4004.343212
min         267.829813
25%        4198.473282
50%        5263.157895
75%        6844.741235
max      176470.588235
Name: Price_Per_sqft, dtype: float64

In [35]:
a = df.Price_Per_sqft.std()
a

4004.343212080408

In [36]:
b = df.Price_Per_sqft.mean()
b

6220.296578933227

In [37]:
a1 = 6220 + 4004
a2 = 6220 - 4004

In [38]:
df = df[df['Price_Per_sqft'] > a2]

In [39]:
df = df[df.Price_Per_sqft < a1]

In [40]:
df.Price_Per_sqft.describe()

count    10758.000000
mean      5328.459998
std       1617.109362
min       2222.222222
25%       4103.952674
50%       5057.225661
75%       6320.095847
max      10208.333333
Name: Price_Per_sqft, dtype: float64

In [41]:
df

                       location  total_sqft  bath   price  BHK  Price_Per_sqft
0      Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
1              Chikka Tirupathi      2600.0   5.0  120.00    4     4615.384615
2                   Uttarahalli      1440.0   2.0   62.00    3     4305.555556
3            Lingadheeranahalli      1521.0   3.0   95.00    3     6245.890861
4                      Kothanur      1200.0   2.0   51.00    2     4250.000000
...                         ...         ...   ...     ...  ...             ...
13313               Uttarahalli      1345.0   2.0   57.00    3     4237.918216
13314         Green Glen Layout      1715.0   3.0  112.00    3     6530.612245
13315                Whitefield      3453.0   4.0  231.00    5     6689.834926
13317     Raja Rajeshwari Nagar      1141.0   2.0   60.00    2     5258.545136
13319              Doddathoguru       550.0   1.0   17.00    1     3090.909091

[10758 rows x 6 columns]

In [42]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop(['location','price','Price_Per_sqft'],axis = 1),df.price,test_size = 0.2)

model = DecisionTreeRegressor()
model.fit(x_train,y_train)

DecisionTreeRegressor()

In [43]:
model.score(x_test,y_test)

0.7291799608425568

In [44]:
df = df[~(df.bath > df.BHK)]

In [45]:
df[~(df.bath > df.BHK)]

                       location  total_sqft  bath   price  BHK  Price_Per_sqft
0      Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
2                   Uttarahalli      1440.0   2.0   62.00    3     4305.555556
3            Lingadheeranahalli      1521.0   3.0   95.00    3     6245.890861
4                      Kothanur      1200.0   2.0   51.00    2     4250.000000
5                    Whitefield      1170.0   2.0   38.00    2     3247.863248
...                         ...         ...   ...     ...  ...             ...
13313               Uttarahalli      1345.0   2.0   57.00    3     4237.918216
13314         Green Glen Layout      1715.0   3.0  112.00    3     6530.612245
13315                Whitefield      3453.0   4.0  231.00    5     6689.834926
13317     Raja Rajeshwari Nagar      1141.0   2.0   60.00    2     5258.545136
13319              Doddathoguru       550.0   1.0   17.00    1     3090.909091

[10271 rows x 6 columns]

In [46]:
df.drop('Price_Per_sqft',axis = 1,inplace = True)

C:\Users\KIIT\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [47]:
df

                       location  total_sqft  bath   price  BHK
0      Electronic City Phase II      1056.0   2.0   39.07    2
2                   Uttarahalli      1440.0   2.0   62.00    3
3            Lingadheeranahalli      1521.0   3.0   95.00    3
4                      Kothanur      1200.0   2.0   51.00    2
5                    Whitefield      1170.0   2.0   38.00    2
...                         ...         ...   ...     ...  ...
13313               Uttarahalli      1345.0   2.0   57.00    3
13314         Green Glen Layout      1715.0   3.0  112.00    3
13315                Whitefield      3453.0   4.0  231.00    5
13317     Raja Rajeshwari Nagar      1141.0   2.0   60.00    2
13319              Doddathoguru       550.0   1.0   17.00    1

[10271 rows x 5 columns]

In [48]:
df1 = pd.get_dummies(df.location)

In [49]:
df = pd.concat([df,df1],axis = 1)

In [50]:
df.drop('other',axis = 1,inplace = True)

In [51]:
df.head()

,location,total_sqft,bath,price,BHK,Devarachikkanahalli,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,Electronic City Phase II,1056.0,2.0,39.07,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Uttarahalli,1440.0,2.0,62.00,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Lingadheeranahalli,1521.0,3.0,95.00,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Kothanur,1200.0,2.0,51.00,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Whitefield,1170.0,2.0,38.00,2,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [52]:
df.drop('location',axis = 1,inplace = True)
df

,total_sqft,bath,price,BHK,Devarachikkanahalli,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Phase JP Nagar,6th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1056.0,2.0,39.07,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1440.0,2.0,62.00,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1521.0,3.0,95.00,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1200.0,2.0,51.00,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1170.0,2.0,38.00,2,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,1345.0,2.0,57.00,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13314,1715.0,3.0,112.00,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,3453.0,4.0,231.00,5,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13317,1141.0,2.0,60.00,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,550.0,1.0,17.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
x = df.drop('price',axis=1)

In [97]:
y = df.price
y.head()

0    39.07
2    62.00
3    95.00
4    51.00
5    38.00
Name: price, dtype: float64

In [98]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [99]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import ShuffleSplit

#cv = ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
a = cross_val_score(LinearRegression(),x_train,y_train)
a

array([0.79032162, 0.75831696, 0.85887364, 0.78856839, 0.76117093])

In [65]:
import numpy as np

In [57]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

In [58]:
a = cross_val_score(LinearRegression(),x_train,y_train)
a

array([0.75191879, 0.75763464, 0.76059641, 0.88120247, 0.78276743])

In [59]:
b = cross_val_score(SVR(),x_train,y_train)
b

array([0.65892557, 0.71434569, 0.65946349, 0.35996531, 0.71312441])

In [61]:
c = cross_val_score(RandomForestRegressor(),x_train,y_train)
c

array([0.74017811, 0.74390683, 0.7665433 , 0.63849877, 0.76775888])

In [62]:
print(a.mean(),b.mean(),c.mean())

0.786823950777503 0.6211648943511927 0.7313771760819117

In [63]:
x.columns

Index(['total_sqft', 'bath', 'BHK', ' Devarachikkanahalli',
       '1st Phase JP Nagar', '2nd Phase Judicial Layout',
       '2nd Stage Nagarbhavi', '5th Phase JP Nagar', '6th Phase JP Nagar',
       '7th Phase JP Nagar',
       ...
       'Vijayanagar', 'Vishveshwarya Layout', 'Vishwapriya Layout',
       'Vittasandra', 'Whitefield', 'Yelachenahalli', 'Yelahanka',
       'Yelahanka New Town', 'Yelenahalli', 'Yeshwanthpur'],
      dtype='object', length=235)

In [86]:
loc_index = np.where(x.columns=='Yeshwanthpur')[0][0]
loc_index

234

In [78]:
z = np.zeros(len(x.columns))
z

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [87]:
x.head(3)

,total_sqft,bath,BHK,Devarachikkanahalli,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1056.0,2.0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1440.0,2.0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1521.0,3.0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [105]:
def predict_price(location,sqft,bath,bhk):
    loc_index = np.where(x.columns==location)[0][0]
    z = np.zeros(len(x.columns))
    z[0] = sqft
    z[1] = bath
    z[2] = bhk
    if(loc_index >= 0):
        z[loc_index] = 1
    return model.predict([z])[0]

In [114]:
predict_price('Lingadheeranahalli',1521,2,3)

96.25956611990753

In [110]:
model.score(x_test,y_test)

0.7954778050929363

In [115]:
# import pickle
# with open('Banglore_Price_Model','wb') as f:
#     pickle.dump(model,f)

In [116]:
# import json
# columns = {
#     'Data_Columns' : [col.lower() for col in x.columns]
# }
# with open("columns.json",'w') as f:
#     f.write(json.dumps(columns))

In [1]:
import pickle

In [2]:
# with open('Banglore_Price_Model','rb') as f :
#     mp = pickle.load(f)

In [3]:
# import json
# import pickle
# from sklearn.linear_model import LinearRegression

# import numpy as np


# def get_estimated_price(location, sqft, bhk, bath):
#     loc_idx = __data_columns.index(location.lower())

#     x = np.zeros(len(__data_columns))
#     x[0] = sqft
#     x[1] = bhk
#     x[2] = bath
#     return mp


# def get_location_names():
#     return __location


# __location = None
# __data_columns = None
# __model = None


# def load_saved_artifacts():
#     print("Loading Saved Artifacts....Start")
#     global __data_columns
#     global __location
#     global __model
#     with open("./artifacts/columns.json", 'r') as f:
#         __data_columns = json.load(f)['Data_Columns']
#         __location = __data_columns[3:]

#     with open('./artifacts/Banglore_Price_Model', 'rb') as f:
#         __model = pickle.load(f)
#     print("Loading Artifacts....Done")


# if __name__ == '__main__':
#     load_saved_artifacts()
#     print(get_location_names())
#     # print(get_estimated_price('1st phase jp nagar', 1521, 3, 1))
#     # print(get_estimated_price('2nd stage nagarbhavi', 1834, 4, 2))
#     z = np.zeros(len(__data_columns))
#     z[0] = 1521
#     z[1] = 3
#     z[2] = 2
#     z[3] = 1
#     with open(r"C:\Code\BHP\model\Banglore_Price_Model", 'rb') as f:
#         m = pickle.load(f)
#     print(m.pre)

NameError: name 'x_test' is not defined